
.LoginPage_LoginPage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.LoginPage_LoginPage .background {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1434.3px;
	height: 807.45px;
	background: linear-gradient(0deg, rgba(255,255,255,1.00), rgba(255,255,255,1.00));
	border: 4px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.LoginPage_LoginPage .loginoutline {
	position: absolute;
	left: 443.1px;
	top: 42px;
	width: 513.45px;
	height: 724.5px;
	background: rgba(255,255,255,1.00);
	border-radius: 31.5px;
	border: 5px solid rgba(21.000000648200512,187.00000405311584,102.00000151991844,1);
	box-sizing: border-box;
}
.LoginPage_LoginPage .Asset64x1 {
	position: absolute;
	left: 507.15000000000003px;
	top: 69.3px;
	width: 383.25px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
}
.LoginPage_LoginPage .Rectangle1 {
	position: absolute;
	left: 526.0500000000001px;
	top: 557.5500000000001px;
	width: 106.05000000000001px;
	height: 37.800000000000004px;
	background: rgba(21,187,102,1.00);
	border-radius: 37.275px;
}
.LoginPage_LoginPage .Login {
	position: absolute;
	left: 509.25px;
	top: 561.75px;
	width: 141.75px;
	height: 29.400000000000002px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16.8px;
	font-weight: 400;
	line-height: 19.6875px;
}
.LoginPage_LoginPage .ForgotPassword {
	position: absolute;
	left: 678.3000000000001px;
	top: 561.75px;
	width: 154.35px;
	height: 29.400000000000002px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(21,187,102,1.00);
	font-family: Inter;
	font-size: 16.8px;
	font-weight: 400;
	line-height: 19.6875px;
}
.LoginPage_LoginPage .Ellipse1 {
	position: absolute;
	left: 624.75px;
	top: 195.3px;
	width: 144.9px;
	height: 144.9px;
	background: rgba(231,231,231,1.00);
	border-radius: 50%;
}
.LoginPage_LoginPage .outlineuser2 {
	position: absolute;
	left: 614.25px;
	top: 184.8px;
	width: 165.9px;
	height: 165.9px;
}
.LoginPage_LoginPage .outlineuser2 .shape {
	position: absolute;
	left: 20.7375px;
	top: 20.7375px;
	width: 75%;
	height: 75%;
}
.LoginPage_LoginPage .Rectangle2 {
	position: absolute;
	left: 529.2px;
	top: 410.55px;
	width: 299.25px;
	height: 44.1px;
	background: rgba(231,231,231,1.00);
	border-radius: 10.5px;
	border: 2px solid rgba(21.000000648200512,187.00000405311584,102.00000151991844,1);
	box-sizing: border-box;
}
.LoginPage_LoginPage .Rectangle3 {
	position: absolute;
	left: 529.2px;
	top: 496.65000000000003px;
	width: 299.25px;
	height: 44.1px;
	background: rgba(231,231,231,1.00);
	border-radius: 10.5px;
	border: 2px solid rgba(21.000000648200512,187.00000405311584,102.00000151991844,1);
	box-sizing: border-box;
}
.LoginPage_LoginPage .Username {
	position: absolute;
	left: 536.5500000000001px;
	top: 417.90000000000003px;
	width: 141.75px;
	height: 29.400000000000002px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 14.700000000000001px;
	font-weight: 100;
	font-style: italic;
	line-height: 17.2265625px;
}
.LoginPage_LoginPage .Password {
	position: absolute;
	left: 536.5500000000001px;
	top: 504px;
	width: 141.75px;
	height: 29.400000000000002px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 14.700000000000001px;
	font-weight: 100;
	font-style: italic;
	line-height: 17.2265625px;
}
.LoginPage_LoginPage .Username_1 {
	position: absolute;
	left: 529.2px;
	top: 381.15000000000003px;
	width: 141.75px;
	height: 29.400000000000002px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16.8px;
	font-weight: 400;
	line-height: 19.6875px;
}
.LoginPage_LoginPage .Password_1 {
	position: absolute;
	left: 529.2px;
	top: 467.25px;
	width: 141.75px;
	height: 29.400000000000002px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 16.8px;
	font-weight: 400;
	line-height: 19.6875px;
}